.login-form,
.login-form * {
    box-sizing: border-box;
}

.login-form {
    width: 350px;
    margin: 1em auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-form__content {
    padding: 2rem;
    background: #eeeeee;
}

.login-form__header {
    margin-bottom: 15px;
    text-align: center;
    color: #333333;
}

.login-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-form__input:focus {
    border-color: #009578;
}

.login-form__input::placeholder {
    color: #aaaaaa;
}

.login-form__button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #009578;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form__button:active {
    background: #008067;
}

.login-form__error {
    width: 100%;
    padding: 0;
    font-size: 60%;
    color: #900;
}