.calendar {
    background-color: white;
    color: var(--grey-800);
    padding: 15px 25px;
}

.calendar-month {
    width: 100%;
    color: var(--grey-800);
    background-color: white;
    border-collapse: collapse;
}

.calendar-month-header {
    color: var(--grey-800);
    font-weight: lighter;
    text-align: left;
    padding: 10px;
    margin-left: 15%;
}

.calendar-weekdays {
    border-top: 1px solid var(--grey-300);
    border-bottom: 1px solid var(--grey-300);
    color: var(--grey-300);
}

.calendar-weekdays th {
    text-align: center;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    font-size: 13px;
}

.calendar-day, .calendar-day:hover {
    height: 35px;
    font-size: 16px;
    color: var(--grey-800);
    padding: 5px 15px;
    font-weight: lighter;
    text-align: center;
}

.calendar-day_event {
    text-decoration: none;
}

.calendar-day_entry {
    position: relative;
    background: transparent;
}

.calendar-day_entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 35px;
    border-radius: 100%;
    background: rgb(80, 166, 228);

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}